


.contacto2 {
    background-image: linear-gradient(to bottom, #0d42a379, pink, #0d42a379);

.Nombre {
    margin-top: 7rem;
    font-size: medium;
    margin-bottom: 0;
    font-weight: 1;
}
.Apellido {
    font-weight: 1;
    margin-top: 2rem;
    font-size: medium;
    margin-bottom: 0;
}
.Mensaje {
    font-weight: 1;
    margin-top: 2rem;
    font-size: medium;
    margin-bottom: 0;
}
.Barra {
    color: white;
    margin-top: 0;
    background-color: white;
    border: solid gray;
    width: 30rem;
}
.Barra1 {
    color: white;
    margin-top: 0;
    background-color: white;
    border: solid gray;
    width: 30rem;
    height: 5rem;
}
.Enviar {
    margin-top: 2rem;
    font-size: 1.5rem;
    margin-left: 5rem;
    border: 2px solid gray;
    width: 5rem;
    background-color: white;
}
}
