* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.cuerpo1 {
  background-image: url("../imagenes/Fondo inicio 2.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  width: 100%;
}
.cuerpo1 .header1 {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-areas: ". productos historia locales contacto ." ". . . . . ." ". . . . . ." ". . . . . ." ". . . . . ." ". . . . . ." ". . . . . ." ". . . . . ." ". . . . . ." ". . . . . ." ". . . . . ." ". . . . . ." ". . . . . ." ". . . . . ." ". . . . . ." ". . . . . ." ". . . . . ." ". . . . . .";
  justify-items: center;
  align-items: center;
}
.cuerpo1 .header1 .Menu {
  color: black;
  grid-area: menu;
  font-size: 2.5rem;
  background-color: white;
  padding: 0.5rem;
  border-radius: 1rem;
}
.cuerpo1 .header1 .Productos {
  color: white;
  grid-area: productos;
  font-size: 1.5rem;
  background-color: black;
  padding: 0.5rem;
  border-radius: 1rem;
}
.cuerpo1 .header1 .Historia {
  color: white;
  grid-area: historia;
  font-size: 1.5rem;
  background-color: black;
  padding: 0.5rem;
  border-radius: 1rem;
}
.cuerpo1 .header1 .Locales {
  color: white;
  grid-area: locales;
  font-size: 1.5rem;
  background-color: black;
  padding: 0.5rem;
  border-radius: 1rem;
}
.cuerpo1 .header1 .Contacto {
  color: white;
  grid-area: contacto;
  font-size: 1.5rem;
  background-color: black;
  padding: 0.5rem;
  border-radius: 1rem;
}

.footer {
  padding: 1rem;
}

.header2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(13, 66, 163, 0.4745098039);
  padding: 1rem;
}
.header2 .logo {
  width: 12rem;
}
.header2 .nav .menu1 {
  display: flex;
  list-style-type: none;
  gap: 1rem;
}
.header2 .nav .menu1 .menu-item {
  color: white;
  font-size: 1rem;
  background-color: black;
  padding: 0.5rem;
  border-radius: 1rem;
}
.header2 .nav .menu1 .menu-item:hover {
  transform: translate(0, 15px);
  transition: 1s;
}

.tarjetas {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  padding: 2rem;
  gap: 1rem;
  padding-inline: 5rem;
  margin: auto;
  background-image: linear-gradient(to bottom, rgba(13, 66, 163, 0.4745098039), pink, rgba(13, 66, 163, 0.4745098039));
}
.tarjetas .tarjeta {
  background-color: rgba(202, 24, 193, 0.4745098039);
  padding: 1rem;
  border-radius: 1rem;
}
.tarjetas .tarjeta .tarjeta-title {
  color: blue;
  width: 10rem;
}
.tarjetas .tarjeta .tarjeta-btn {
  color: blue;
}

.direcciones {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  padding: 2rem;
  gap: 3rem;
  padding-inline: 5rem;
  margin: auto;
  background-image: linear-gradient(to bottom, rgba(13, 66, 163, 0.4745098039), pink, rgba(13, 66, 163, 0.4745098039));
}
.direcciones .direccion {
  background-color: rgba(202, 24, 193, 0.4745098039);
  padding: 1rem;
  border-radius: 1rem;
}
.direcciones .direccion .direccion-title {
  color: blue;
  width: 10rem;
}

.Nosotros1 {
  background-color: pink;
  background-size: cover;
  width: 100%;
  height: 100vh;
}
.Nosotros1 .cuento {
  margin-top: 3rem;
  text-align: center;
  font-size: 2rem;
}
.Nosotros1 .historia {
  font-size: 1.5rem;
  font-style: italic;
  margin-top: 5rem;
  margin-bottom: 4rem;
}
.Nosotros1 .historia p {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 16px;
}

.contacto2 {
  background-image: linear-gradient(to bottom, rgba(13, 66, 163, 0.4745098039), pink, rgba(13, 66, 163, 0.4745098039));
}
.contacto2 .Nombre {
  margin-top: 7rem;
  font-size: medium;
  margin-bottom: 0;
  font-weight: 1;
}
.contacto2 .Apellido {
  font-weight: 1;
  margin-top: 2rem;
  font-size: medium;
  margin-bottom: 0;
}
.contacto2 .Mensaje {
  font-weight: 1;
  margin-top: 2rem;
  font-size: medium;
  margin-bottom: 0;
}
.contacto2 .Barra {
  color: white;
  margin-top: 0;
  background-color: white;
  border: solid gray;
  width: 30rem;
}
.contacto2 .Barra1 {
  color: white;
  margin-top: 0;
  background-color: white;
  border: solid gray;
  width: 30rem;
  height: 5rem;
}
.contacto2 .Enviar {
  margin-top: 2rem;
  font-size: 1.5rem;
  margin-left: 5rem;
  border: 2px solid gray;
  width: 5rem;
  background-color: white;
}

.pie1 {
  background-color: rgba(13, 66, 163, 0.4745098039);
  padding: 1rem;
}
.pie1 .fin {
  width: 1rem;
  margin-left: 1rem;
  margin-bottom: 1rem;
}

@media (min-width: 1450px) {
  .Nosotros1 .cuento {
    font-size: 7rem;
  }
  .Nosotros1 .historia {
    font-size: 5rem;
  }
  .Nosotros1 .texto1 {
    font-size: 2rem;
  }
}
@media (max-width: 1000px) {
  .texto-p {
    font-size: 14px;
  }
}
@media (max-width: 900px) {
  .tarjetas {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  }
}
@media (max-width: 700px) {
  .header2 .logo {
    width: 8rem;
  }
  .texto-p {
    font-size: 12px;
  }
}
@media (max-width: 700px) {
  .header2 .nav .menu1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas: ". menu1 ." ". historia1 ." ". locales1 ." ". contacto1 .";
    margin-right: 2rem;
  }
  .inicio1 {
    grid-area: menu1;
  }
  .historia1 {
    grid-area: historia1;
  }
  .locales1 {
    grid-area: locales1;
  }
  .contacto1 {
    grid-area: contacto1;
  }
  .puntos .direcciones {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
  }
}
@media (max-widht: 500px) {
  .cuerpo1 .header1 .Productor {
    font-size: 1rem;
  }
  .header2 .nav .menu1 .menu-item {
    font-size: 10px;
  }
  .inicio1 {
    grid-area: menu1;
  }
  .historia1 {
    grid-area: historia1;
  }
  .locales1 {
    grid-area: locales1;
  }
  .contacto1 {
    grid-area: contacto1;
  }
}
@media (max-width: 500px) {
  .tarjetas {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  }
  .logo {
    width: 12rem;
  }
  .texto-p {
    font-size: 10px;
  }
}
@media (max-width: 350px) {
  .Nosotros1 .texto1 .texto-p {
    font-size: 8px;
  }
}/*# sourceMappingURL=estilos.css.map */